In [2]:
import pandas as pd
import numpy as np
import xlrd
import xlsxwriter

In [1]:
 pip install xlsxwriter

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting xlsxwriter
  Downloading XlsxWriter-3.0.3-py3-none-any.whl (149 kB)
     |████████████████████████████████| 149 kB 5.2 MB/s
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.0.3

In [3]:
from google.colab import files
uploaded = files.upload()

Saving ccs1.xlsx to ccs1.xlsx

In [6]:
data = pd.read_excel('ccs1.xlsx')
data.head(5)

   BatchNumber ShamsiDate       date      Time  CCS
0       140763   1401/5/6 2022-07-28  21:00:00  210
1       140767   1401/5/6 2022-07-28  23:00:00  311
2       140783   1401/5/7 2022-07-29  17:00:00  331
3       140790   1401/5/7 2022-07-29  21:00:00  273
4       140798   1401/5/7 2022-07-29  23:00:00  325

In [7]:
from google.colab import files
uploaded = files.upload()

Saving GPT.csv to GPT.csv

In [8]:
dama = pd.read_csv('GPT.csv')
dama.head(5)

          End Time           a          b           c          d
0   7/29/2022 9:00   38.091808  35.775489   43.220671  39.180692
1  7/29/2022 10:00   34.797486  29.695277   38.384375  35.672948
2  7/29/2022 11:00   33.809111  24.681773   35.523410  34.000966
3  7/29/2022 12:00   32.697439  22.742860   33.999745  32.566212
4  7/29/2022 13:00  106.732585  85.769741  122.679483  97.815417

In [9]:
dama[['Date', 'Time']] = dama['End Time'].str.split(' ', 1, expand=True)
dama.head(10)

,End Time,a,b,c,d,Date,Time
0,7/29/2022 9:00,38.091808,35.775489,43.220671,39.180692,7/29/2022,9:00
1,7/29/2022 10:00,34.797486,29.695277,38.384375,35.672948,7/29/2022,10:00
2,7/29/2022 11:00,33.809111,24.681773,35.523410,34.000966,7/29/2022,11:00
3,7/29/2022 12:00,32.697439,22.742860,33.999745,32.566212,7/29/2022,12:00
4,7/29/2022 13:00,106.732585,85.769741,122.679483,97.815417,7/29/2022,13:00
5,7/29/2022 14:00,509.947761,429.464357,435.086188,488.464488,7/29/2022,14:00
6,7/29/2022 15:00,505.145851,410.672568,472.552583,528.876477,7/29/2022,15:00
7,7/29/2022 16:00,560.563363,529.022557,550.637065,582.069635,7/29/2022,16:00
8,7/29/2022 17:00,505.214009,480.819714,506.133621,523.790136,7/29/2022,17:00
9,7/29/2022 18:00,422.397801,424.996315,430.800840,416.476285,7/29/2022,18:00

In [10]:
dama['Date']= pd.to_datetime(dama['Date'])

In [11]:
dama['Time']= pd.to_datetime(dama['Time'])
#dama['Time']= dama['Time'].astype(str)
dama.head(5)

,End Time,a,b,c,d,Date,Time
0,7/29/2022 9:00,38.091808,35.775489,43.220671,39.180692,2022-07-29,2022-08-09 09:00:00
1,7/29/2022 10:00,34.797486,29.695277,38.384375,35.672948,2022-07-29,2022-08-09 10:00:00
2,7/29/2022 11:00,33.809111,24.681773,35.523410,34.000966,2022-07-29,2022-08-09 11:00:00
3,7/29/2022 12:00,32.697439,22.742860,33.999745,32.566212,2022-07-29,2022-08-09 12:00:00
4,7/29/2022 13:00,106.732585,85.769741,122.679483,97.815417,2022-07-29,2022-08-09 13:00:00

In [12]:
data['Time']= data['Time'].astype(str)
#data.head(3)
dama['Time']= dama['Time'].astype(str)

In [13]:
dama['Time'] = dama['Time'].str.split(' ').str.get(-1)
dama.head(5)

,End Time,a,b,c,d,Date,Time
0,7/29/2022 9:00,38.091808,35.775489,43.220671,39.180692,2022-07-29,09:00:00
1,7/29/2022 10:00,34.797486,29.695277,38.384375,35.672948,2022-07-29,10:00:00
2,7/29/2022 11:00,33.809111,24.681773,35.523410,34.000966,2022-07-29,11:00:00
3,7/29/2022 12:00,32.697439,22.742860,33.999745,32.566212,2022-07-29,12:00:00
4,7/29/2022 13:00,106.732585,85.769741,122.679483,97.815417,2022-07-29,13:00:00

In [ ]:
#dama['Time']= pd.to_datetime(dama['Time'])
#dama['Time']= dama['Time'].astype(str)
#dama.head(5)

In [14]:
# mean1 =[]
# mean2 =[]
# mean3 =[]
# mean4 =[]

data['710TG1_AA01_TT28_AVG']=None
data['710TG1_AA01_TT29_AVG']=None
data['710TG1_AA01_TT30_AVG']=None
data['710TG1_AA01_TT31_AVG']=None

for ind1 in dama.index:
    for ind2 in  data.index:
      if dama['Date'][ind1] == data['date'][ind2]:
        if dama['Time'][ind1] in data['Time'][ind2]:
          data['710TG1_AA01_TT28_AVG'][ind2]=(dama['a'][ind1-1] + dama['a'][ind1 -2] + dama['a'][ind1 -3])/3 
          data['710TG1_AA01_TT29_AVG'][ind2]=(dama['b'][ind1-1] + dama['b'][ind1 -2] + dama['b'][ind1 -3])/3
          data['710TG1_AA01_TT30_AVG'][ind2]=(dama['c'][ind1-1] + dama['c'][ind1 -2] + dama['c'][ind1 -3])/3
          data['710TG1_AA01_TT31_AVG'][ind2]=(dama['d'][ind1-1] + dama['d'][ind1 -2] + dama['d'][ind1 -3])/3

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [15]:
data.head(16)

,BatchNumber,ShamsiDate,date,Time,CCS,710TG1_AA01_TT28_AVG,710TG1_AA01_TT29_AVG,710TG1_AA01_TT30_AVG,710TG1_AA01_TT31_AVG
0,140763,1401/5/6,2022-07-28,21:00:00,210,None,None,None,None
1,140767,1401/5/6,2022-07-28,23:00:00,311,None,None,None,None
2,140783,1401/5/7,2022-07-29,17:00:00,331,525.218992,456.386494,486.091945,533.136866
3,140790,1401/5/7,2022-07-29,21:00:00,273,370.606308,361.602469,386.692165,382.36647
4,140798,1401/5/7,2022-07-29,23:00:00,325,506.838449,478.295873,506.303097,543.563999
5,140804,1401/5/8,2022-07-30,01:00:00,323,524.096876,496.80649,517.117267,548.638473
6,140809,1401/5/8,2022-07-30,03:00:00,347,512.099962,477.910531,500.892314,534.15081
7,140816,1401/5/8,2022-07-30,05:00:00,316,523.69133,491.334333,508.093554,546.765273
8,140819,1401/5/8,2022-07-30,07:00:00,302,521.615287,492.418199,509.998764,547.091204
9,140824,1401/5/8,2022-07-30,09:00:00,281,511.64545,476.732534,504.766274,538.77565
10,140831,1401/5/8,2022-07-30,11:00:00,302,511.025796,469.668149,505.550994,540.042487
11,140836,1401/5/8,2022-07-30,13:00:00,293,523.128711,483.208193,518.609936,551.765486
12,140845,1401/5/8,2022-07-30,15:00:00,305,534.673689,496.519146,534.85849,562.718547
13,140851,1401/5/8,2022-07-30,17:00:00,300,526.564295,488.952231,529.145106,554.890467
14,140855,1401/5/8,2022-07-30,19:00:00,292,528.667871,491.121792,527.807531,552.834908
15,140863,1401/5/8,2022-07-30,21:00:00,273,495.366989,453.721048,497.051381,513.190474

In [ ]:
data.to_excel('sample_data.xlsx', sheet_name='sheet1', index=False)